* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #dcdcdc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

/* Barra de navegação */
.navbar {
  width: 100%;
  padding: 8px 8px;
  background-color: #333;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  gap: 10px;
}

/* Botão de atualizar à esquerda */
#refreshBtn {
  background: none;
  border: none;
  cursor: pointer;
}

/* Ícone de atualizar */
#refreshBtn img {
  width: 20px;
  height: 20px;
}

/* Campo de URL */
.navbar input {
  width: 100%;
  padding: 5px 5px;
  font-size: 12px;
  color: #dcdcdc;
  background: #333;
  border: 1px solid #444;
  border-radius: 5px;
  transition: all 0.3s ease;
  outline: none;
  color: #fff;
}

/* Botão de pesquisa (lupa)*/
#searchBtn {
  background: none;
  border: none;
  cursor: pointer;
}

/* Ícone de lupa */
#searchBtn img {
  width: 20px;
  height: 20px;
}

/* Container do "dispositivo" */
.device-container {
  width: 350px;
  height: 94%;
  max-height: 860px;
  background: #1c1c1c;
  border-radius: 22px;
  padding: 5px 5px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

/* Tela */
iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 16px;
  background: #fff;
}

/* Ajuste automático se o painel for menor */
@media (max-height: 800px) {
  .device-container {
    height: 95%;
  }
}
